<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Rate</th>
      <th>Author tip</th>
      <th>Prep time</th>
      <th>Budget</th>
      <th>Name</th>
      <th>Difficulty</th>
      <th>People quantity</th>
      <th>Cook time</th>
      <th>Total time</th>
      <th>Nb comments</th>
      <th>Image</th>
      <th>Tags</th>
      <th>Ingredients</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.rate %></td>
        <td><%= recipe.author_tip %></td>
        <td><%= recipe.prep_time %></td>
        <td><%= recipe.budget %></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.people_quantity %></td>
        <td><%= recipe.cook_time %></td>
        <td><%= recipe.total_time %></td>
        <td><%= recipe.nb_comments %></td>
        <td><%= recipe.image %></td>
        <td><%= recipe.tags %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.author %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
